/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --marcador-me: #a3e635;
  --marcador-me-hover: #65a30d;
  --marcador-hover: #fcd34d;
  --marcador: #d97706;
}

.marcador {
  background: var(--marcador);
  cursor: pointer;
  margin: 1px;
}

.marcador:hover {
  background: var(--marcador-hover);
}

.marcador-me {
  background: var(--marcador-me);
}

.marcador-me:hover {
  background: var(--marcador-me-hover);
}

.marcador-others {
  background: var(--marcador);
}
.marcador-active {
  background: #c1c124;
}
.marcador-poptip {
  position: absolute;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  background: #adabab;
  border: 1px solid #adabab;
  border-radius: 5px;
  padding: 5px;
  color: white;
  width: 130px;
}
.marcador-poptip .description {
  font-size: 100%;
  line-height: 140%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.marcador-poptip .cancel_highlight {
  font-size: 80%;
  text-decoration: underline;
  color: inherit;
}
